table inet volund_proxy {
    chain input {
        type filter hook input priority -10; policy accept;
        ip saddr 192.0.2.10 tcp dport 8080 accept
        ip saddr 127.0.0.1 tcp dport 8080 accept
        tcp dport 8080 reject
    }
}
